<a href="https://colab.research.google.com/github/SAravindh125/mithran-aravindhproject/blob/main/Python_class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))
op = int(input(" Enter operation : "))
  print("num1" ("op") "num2")

IndentationError: ignored

In [ ]:
# Python program for simple calculator

# Function to add two numbers
def add(num1, num2):
	return num1 + num2

# Function to subtract two numbers
def subtract(num1, num2):
	return num1 - num2

# Function to multiply two numbers
def multiply(num1, num2):
	return num1 * num2

# Function to divide two numbers
def divide(num1, num2):
	return num1 / num2

print("Please select operation -\n" \
		"1. Add\n" \
		"2. Subtract\n" \
		"3. Multiply\n" \
		"4. Divide\n")


# Take input from the user
select = int(input("Select operations form 1, 2, 3, 4 :"))

number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))

if select == 1:
  print(number_1, "+", number_2, "=",
					add(number_1, number_2))

elif select == 2:
	print(number_1, "-", number_2, "=",
					subtract(number_1, number_2))

elif select == 3:
	print(number_1, "*", number_2, "=",
					multiply(number_1, number_2))

elif select == 4:
	print(number_1, "/", number_2, "=",
					divide(number_1, number_2))
else:
	print("Invalid input")

In [ ]:
# Write a code to define a list of 10 numbers .. that are in AP..
# But you should not type all the numbers
# The program itself should create a list of 10 numbers

#let the user be entering the values of the First term and Common difference in an A.P.
 
for i in range(1,5):
13
#thus,
#First term :
 a = int(input(" Enter the first term : "))

#common difference :
 d = int(input( " Enter the common difference :"))

#number of term:
 n = int(input ( " Enter the number of that term :"))
 ap= (a+n*d)  
 print(ap)

 Enter the first term : 1
 Enter the common difference :1
 Enter the number of that term :2
3
 Enter the first term : 1
 Enter the common difference :1
 Enter the number of that term :1
2
 Enter the first term : 1
 Enter the common difference :1
 Enter the number of that term :2
3
 Enter the first term : 1
 Enter the common difference :1
 Enter the number of that term :6
7
 Enter the first term : 4
 Enter the common difference :5
 Enter the number of that term :5
29
 Enter the first term : 1
 Enter the common difference :2
 Enter the number of that term :3
7
 Enter the first term : 1
 Enter the common difference :5
 Enter the number of that term :6
31
 Enter the first term : 1
 Enter the common difference :2
 Enter the number of that term :3
7
 Enter the first term : 1
 Enter the common difference :1
 Enter the number of that term :1
2