<a href="https://colab.research.google.com/github/SAravindh125/mithran-aravindhproject/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#program to convert km to miles
#1km = 0.621 miles
D=int(input("Enter distance in km :"))
print(D*0.621)

In [ ]:
#list

#add name to a list - part 1 & 2
students = ["Aravindh","Abishek","Aadi","Akash"]
n = str(input("Enter the name you wish to add :"))
students.append(n)
print(students)

#make a copy of this list:part 3
students = ["Aravindh", "Abishek", "Aadi", "Akash", "Kavhein"]
print(students)

#no of elements:part 4
students.count(students)

#insert an element;part 6 & 7
students.insert(0,"Akil")
students.remove("Abishek")
print(students)

#sort- part 8
students.sort()
print(students)

#reverse sort part 9
students.reverse()
print(students)

#join list;
no=["1000","1001","1002","1003","1004"]
students = ["Aravindh", "Abishek", "Aadi", "Akash", "Kavhein"]
print()
print(no + students)

In [ ]:
#program to convert celcius to fahrenheit
#1 celcius = 33.8Â° fahrenheit
T=int(input("Enter temperature in celcius :"))
print(T*9/5+32)

In [ ]:
#calculate angle of :#1 degree
                     #1'
                     #1
# degree to angle                                                                                                                                                                                                                                                                                                                                                                                                                   
n=int(input("enter the degree :"))
ndegree =  (3.14/180*n)
print(ndegree)   

#min to angle
onedeg = 0.01745
n =int(input("enter the min :")) 
minute = (0.01745/60 * (n))
print(minute)

#second to angle
n=int(input("enter the seconds:"))
second = (0.00000485 * n)
print (second)

enter the degree :1
0.017444444444444446
enter the min :1
0.0002908333333333333
enter the seconds:1
4.85e-06

In [ ]:
#3.1
d= int(input("enter the displacement:"))
t = int(input("Enter the time taken :"))
Avgvelocity = (d/t) 
print(Avgvelocity)

p=int(input("Enter the path legth :"))
t=int(input("enter the time :"))
avgspeed = (p/t)
print(avgspeed)

enter the displacement:360
Enter the time taken :18
20.0
Enter the path legth :480
enter the time :24
20.0

In [2]:
#check whether the no is positive or negative:
n = int(input("enter the number:"))
if n>>0:
  print("the number is positive")
elif n == 0 :
  print("the number is zero")
else :
  print("the number is negative")

enter the number:0
the number is zero

In [4]:
#prog to find sum of natural numbers:
n = int(input("enter the number of terms:"))
a = int(input("enter the first term :"))
l = int(input("enter the last term :"))
sn = (n/2*(a+l))
print(sn)

enter the number of terms:2
enter the first term :1
enter the last term :2
3.0

In [14]:
import calendar
yy = 1989
mm = 12
dd = 23
print(calendar.month(yy,mm))

                                                                             December 1989
         Monday                 Tuesday                Wednesday                Thursday                 Friday                 Saturday                 Sunday
                                                                                                            1                       2                       3
            4                       5                       6                       7                       8                       9                      10
           11                      12                      13                      14                      15                      16                      17
           18                      19                      20                      21                      22                      23                      24
           25                      26                      27                      28                      29                      30                      31

In [ ]:
#prog to check whether no is even or odd
n = int(input("enter the number:"))
if n%2 == 0:
  print("The number is even")
else :
  print("the number is odd")

enter the number:12
The number is even

In [ ]:
#prog to check largest of three numbers
ni = int(input("enter the 1st no :"))
nii = int(input("enter the 2nd no :"))
niii = int(input("enter the 3rd no :"))
if (ni >= nii) and (ni >= niii):
 largest = ni
elif (nii >= ni) and (nii >= niii):
 largest = nii
else :
 largest = niii
print("the largest no is" , largest)

enter the 1st no :15
enter the 2nd no :14
enter the 3rd no :97
the largest no is 97